body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
}

.navbar {
  overflow: hidden;
  background-color: #013A69;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .botondes {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .botondes, .botondes:focus {
  background-color: #23648F;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #54B4D3;
    border-radius: 10px;
}

.show {
  display: block;
}

/**cuerpo+pagina**/
html,
body {
  height: 100%;
}
.entero {
  background: #f1f2f3;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75;
  margin: 0 auto;
  max-width: 800px;

  background: #fff;
  padding: 2em;
}
.contenido {
  column-count: 2;
  column-gap: 2em;
  margin: 0;
}
h1,
h2 {
  margin: 0 0 .5em;
}
.framesillo{
  border: 0px;
  width: 800px;
}
/**cuerpo+pagina**/
/**Footer**/
footer{
    width: 100%;
    background: #202020;
    color: white;

}

.footer-entero{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.cuerpo-footer{
    display: flex;
    justify-content: space-between;
}

.columa1{
    max-width: 400px;
}

.columa1 h1{
    font-size: 22px;
}

.columa1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.columa2{
    max-width: 400px;

}

.columa2 h1{
    font-size: 22px;
}

.fila{
    margin-top: 20px;
    display: flex;
}

.fila img{
    width: 36px;
    height: 36px;
}

.fila label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.columa3{
    max-width: 400px;
}

.columa3 h1{
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.cositas{
    width: 100%;
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a{
    text-decoration: none;
    color: #C7C7C7;
}


/**Footer**/
