body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../multimedia/borrosa1.jpg");
  /*background-color: #B4C9DA;*/
}

.navbar {
  overflow: hidden;
  background-color: #013A69;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .botondes {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .botondes, .botondes:focus {
  background-color: #23648F;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #54B4D3;
}

.show {
  display: block;
}

.landing-page{
  width: 100%;
  height: 100vh;
  background: #000;
  position: relative;
  overflow: hidden;
}
.landing-page::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../multimedia/borrosa3.jpg) no-repeat;
  background-size: cover;
  opacity: .3;
  animation: anim 25s linear infinite;
}
@keyframes anim {
  50%{
    transform: scale(2);
  }
  100%{
    transform: scale(1);
  }
}

.caja{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #11334F;

  text-align: center;
  border-radius: 25px;
}
.caja h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.caja input[type = "text"],.caja input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.caja input[type = "text"]:focus,.caja input[type = "password"]:focus{
  width: 280px;
  border-color: white;
}
.caja input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.caja input[type = "submit"]:hover{
  background: #2ecc71;
}

#errorpwdchar{
  color: red;
  font-weight: bold;
}
